*	{
	line-height: 1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	position: static;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

#clear {
clear: both;
}

/* intro panel */

#intro {
	background: url(../images/bk_hires_spaulding_intro1.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
}

#intro #instruction {
	background: url(../images/spaulding_pillowspeaker.png) 75px 50px no-repeat;
	width: 572px;
	height: 483px;
	margin: 175px 0px 0px 0px;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 13px;
	text-align: right;
}

#intro #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	text-align: right;
	position: relative;
}


#intro #instruction p.text1 {
	color: rgba(0,22,28,1.0);
	text-align: right;
	
}

#intro #instruction p.text2  {
	color: rgba(0,22,28,1.0);
	text-align: right;
}
#intro #instruction  p.text3  {
	color: rgba(0,22,28,1.0);
	text-align: right;
}
#intro #instruction p.text4 {
	color: rgba(0,22,28,1.0);
	text-align: right;	
}

#intro #aboutus {
	background: url(../images/video-sim.jpg) top center no-repeat;
	width: 586px;
	height: 338px;
	margin: 17px 0px 0px 595px;
	position: absolute;
}

#intro #buttons {
	width: 600px;
	height: 215px;
	font-size: 40px;
	margin: 372px 0px 0px 585px;
	display: inline-block;
	position: absolute;
}

#intro #buttons a {
	background: url(../images/btn_intro1.png) top center no-repeat;
	line-height: 150px;
	text-align: center;
	vertical-align: middle;
}

#intro #buttons a.active {
	background: rgba(245,128,37,1.0);
	font-size: 50px;
}

#intro #buttons a.myview.active {
	background: rgba(245,128,37,1.0);
	font-size: 40px;
}

#intro #buttons a.mycare {
	width: 275px;
	height: 150px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#intro #buttons a.watchtv {
	width: 275px;
	height: 150px;
	margin: 0px 0px 0px 0px;
	float: right;
	position: relative;
}

#intro #buttons a.myview {
	background: url(../images/btn_intro2.png) top center no-repeat;
	width: 600px;
	height: 50px;
	font-size: 36px;
	line-height: 50px;
	margin: 14px 0px 0px 0px;
	float: left;
	position: relative;
}
