.page.primary {
}

.page.primary #header {
	width: 100%;
	height: 163px;
	position: absolute;
	background: url(../images/bk_primary_gradient.png) top left no-repeat;
}

.page.primary #header #patient {
	width: 510px;
	height: 100px;
	top: 36px;
	left: 700px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #patient p {
	line-height: 30px;
	text-align: right;
}

.page.primary #content {
	width: 100%;
	height: 557px;
	top: 163px;
	position: absolute;
}

.page.primary #menu {
	width: 100%;
	height: 100%;
}

.page.primary #menu .slides {
	position: absolute;
	top: 66px;
	left: 66px;;
	width: 1148px;
	height: 491px;
}

.page.primary #menu .slides .slide {
	width: 1148px;
	height: 491px;
	display: none;
}

.page.primary #menu .slides #menu1-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu2-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu3-slide {
	background: url('../images/img_main_myhealth.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu4-slide {
	background: url('../images/img_main_entertainment.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu5-slide {
	background: url('../images/img_main_spirit.jpg') top left no-repeat;
}

.page.primary #menu .major {
	background: url('../images/menubar_slice.png') repeat-x;
	position: absolute;
	width: 100%;
	height: 73px;
	padding: 0;
}

.page.primary #menu .major a {
	position: absolute;
	height: 65px;
	margin: 0;
	padding: 17px 0 0 0;
	text-align: center;
	font-size: 30px;
}

.page.primary #menu .major a.selected {
	font-size: 40px;
	background: url('../images/menubar_highlight.png') center top no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 53px;
	margin-top: -15px;
	padding-top: 30px;
}

.page.primary #menu .major a#menu1 {
	left: 65px;
	width: 222px;
}

.page.primary #menu .major a#menu2 {
	left: 255px;
	width: 225px;
}

.page.primary #menu .major a#menu3 {
	left: 465px;
	width: 230px;
}

.page.primary #menu .major a#menu4 {
	left: 675px;
	width: 310px;
}

.page.primary #menu .major a#menu5 {
	left: 940px;
	width: 275px;
}

.page.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 495px;
	top: 62px;
}

.page.primary #menu .minor .menu-group {
	position: absolute;
	border: 6px solid #207a32;
	background: #484745;
	margin: 0;
	padding: 15px 0;
	display: none;
}

.page.primary #menu .minor #menu1-group {
	left: 65px;
	width: 255px;
}

.page.primary #menu .minor #menu2-group {
	left: 242px;
	width: 240px;
}

.page.primary #menu .minor #menu3-group {
	left: 440px;
	width: 295px;
}

.page.primary #menu .minor #menu4-group {
	left: 705px;
	width: 235px;
}

.page.primary #menu .minor #menu5-group {
	left: 824px;
	width: 390px;
}

.page.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 5px;
}
