.page.secondary {
}

.page.secondary .page-title {
	left: 60px;
	top: 108px;
	width: 328px;
	height: 72px;
	z-index: 1;
	text-align: center;
	letter-spacing: 2px;
	line-height: 72px;
	background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page.secondary #header {
	width: 100%;
	height: 132px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.secondary #header #heading1 {
	height: 100px;
	top: 75px;
	left: 480px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.secondary #header #heading1 p {
	color: #45466D;
}

.page.secondary #header #heading2 {
	width: 510px;
	height: 100px;
	top: 36px;
	left: 700px;
	position: absolute;
	display: none;
	float: left;
}

.page.secondary #header #heading2 p {
	color: #313131;
}

.page.secondary #content {
	width: 100%;
	height: 588px;
	top: 132px;
	position: absolute;
}

.page.secondary #menu {
	width: 100%;
	height: 100%;
}

.page.secondary #menu .major {
	position: absolute;
	width: 328px;
	height: 446px;
	left: 60px;
	top: 48px;
	padding: 35px 0 0 0;
	background: #333230;
	box-shadow: 2px 2px 2px 0px #555;
}

.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 32px;
	margin: 0;
	padding: 10px 5px 5px 15px;
	text-align: left;
	font-size: 30px;
}

.page.secondary #menu .major a.selected {
	background: #207a32;
}

.page.secondary #menu .minor {
	position: absolute;
	width: 840px;
	height: 588px;
	top: 0px;
	left: 440px;
}

.page.secondary #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 500px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.page.secondary #menu .minor .arrow-button.sub-page-prev {	
	left: -20px;
}

.page.secondary #menu .minor .arrow-button.sub-page-next {
	right: 20px;
}

.page.secondary #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.secondary #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.secondary #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}

.page.secondary #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 800px;
}

.page.secondary #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-header {
	height: 50px;
	color: #FFFF66;
}

.page.secondary #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #45466D;
	text-align: center;
}

.page.secondary #menu .minor .sub-content {
    height: 450px;
    overflow: hidden;
    position: relative;
}

.page.secondary #menu .minor .sub-content p {
	margin-bottom: 15px;
}

.page.secondary #menu .minor .sub-content .sub-image1 img
,.page.secondary #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.page.secondary #menu .minor .sub-content.layout1 {
	
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 100px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.page.secondary #menu .minor .sub-content.layout2 {
	
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 560px;
	padding-top: 50px;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: left;
	width: 240px;
	padding-top: 50px;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.page.secondary #menu .minor .sub-content.layout3 {
	
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 250px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.secondary #menu .minor .sub-content.layout4 {
	
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 300px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 100px;
	padding-top: 50px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 300px;
	height: 150px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.page.secondary #menu .minor .sub-content.layout5 {
	
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 670px;
	top: 50px;
	left: 50px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0.7);
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}